@page "{id:int}"
@model AutoWorkshopWeb.Pages.Services.DeleteModel

<h1>Підтвердження видалення</h1>

<h4>Ви дійсно хочете видалити послугу "@Model.Service?.Name"?</h4>

<form method="post">
    <input type="hidden" asp-for="Service.ServiceId" />
    <button type="submit" class="btn btn-danger">Видалити</button>
    <a asp-page="Index" class="btn btn-secondary">Скасувати</a>
</form>